<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">CMS HTML Pages</a>
    </div>
    <ul class="nav navbar-nav">
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a [routerLink]="['/device']">Home</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/deviceInfo']">Device Info</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/email']">Modbus Info</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/email']">Device Details</a>
      </li>
    </ul>
  </div>
</nav>
 
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <span class="glyphicon glyphicon-home"></span>
      <span style="padding:20px;">{{ datas== undefined ? "" : datas.system_cfg.sysname }}</span>
      <span>{{ datas== undefined ? "": datas.system_cfg.net.ip.addr }}</span>
    </div>
  </div>
</div>

<!-- <div *ngFor="let datas of data | object">
  <div *ngFor="let value of data[datas]">
    {{value.measure_cfg.channel}}
  </div>
</div> -->



